doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet_theme', href='/stylesheets/bootstrap-theme.min.css')
  body(style='background-image: linear-gradient(to top, #1AD6FD, #1D77EF)')
    block content